* {
	margin: 0;
	padding: 0;
}
section {
	background-color: pink;
}
.inner_wrap {
	width: 1180px;
	margin: auto;
  position:relative;
	background-color: green;
  height:300px;
}
h1 {
  /* 부모중 position이 선언된 놈 기준 */
	position: absolute;
	top: 0;
	left: 10px;
	background: rgb(234, 255, 192);
}
h2 {
  position: absolute;
  right: 0;
  background: rgb(234, 255, 192);
}
