body {
    text-align: center;
}

a {
    background: black;
    color: white;
}
h1{
    background: #663399;
    color:white;
    font-size: 28px;
    padding:10px;
}
h2{
    background: red;
    color:white;
    font-size: 9px;
    padding: 5px;
}