html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	line-height: 1.6;
	font-weight: 400;
	color: #222;
}
h1 {
	border-bottom: 1px solid #ccc;
}
img {
	max-width: 100%;
}
.container {
	max-width: 1200px;
	margin: auto;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	/* grid-template-rows: repeat(auto, 1fr); */
  grid-auto-rows:1fr;
}
.image {
	border-radius: 10px;
	background-color: #333;
	padding: 10px;
	margin: 5px;
	color: #fff;
  /* 칸으로 지정 */
  grid-column: 1 / span 1; /* 1번 라인 부터 한칸 */
  grid-column:  span 1; /* 한칸 */
}
.image.wide {
  grid-column:span 2;
}

.image img {
	border-radius: 5px;
}
.image figcaption {
	font-weight: bold;
	margin-top: 10px;
	border-top: 1px solid rbga(255, 255, 255, 0.5);
	padding-top: 3px;
}
