#wrapper1 {
	display: grid;
	/* repeat(반복횟수,반복값); */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-bottom: 20px;
}
#wrapper2 {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
/* 남는공간을 어떻게 채울지
auto-fit: 무조건 꽉 채움
auto-fill:칼럼의 최소 너비만큼 채움 그후 비움
  */