.container {
	display: flex;
	width: 900px;
}
#opt1 {
	/* 주축 시작점 */
	justify-content: flex-start;
}
#opt2 {
	/* 주축 끝점 */
	justify-content: flex-end;
}
#opt3 {
	/* 주축 중앙 */
	justify-content: center;
}
#opt4 {
	/* 시작점과 끝점 배치 후 중간박스는 균등배치 */
	justify-content: space-between;
}
#opt5 {
	/* 전부 균등배치 */
	justify-content: space-around;
}
#opt6 {
	/* 전부 균등배치 (겹치는 부분 병합)*/
	justify-content: space-evenly;
}
